*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



.content {
    // A4 paper
    width: $page-width;
    min-height: paper_height($page-width);
    background-color: $color-light;

    @media screen and (min-width: 60rem) {
        margin: 6rem 0;
        @include shadow(1);
        @include hz-center;
    }

    @media print {
        margin: 0;
        height: paper_height($page-width) * $pages;
    }
}

body {
    box-sizing: border-box;
    margin: 0px;

    font-size: 62.5%;
    background-color: $color-page-background;

    @media print {
        background-color: $color-light;
    }
}

footer {
  color: #bdbbbb;
  height: 1rem;
  position: fixed;
  bottom: 0.5rem;
  width: 100%;
  font-size: 10px;

  a {
    text-decoration: none;
    color: #bdbbbb;
     link {
      text-decoration: none;
    }

    visited {
      text-decoration: none;
    }

    hover {
      text-decoration: none;
    }

    active {
      text-decoration: none;
    }
  }
}

::selection {
    color: $color-light;
    background-color: darken(rgba($color-primary, 0.6), 10%);
}

body.dark-mode,
body.dark-mode main * {

    .content {
        background-color: $color-light-DarkTheme;
    }

    background-color: $color-page-background-DarkTheme;

    @media print {
        background-color: $color-light-DarkTheme;
    }

    ::selection {
        color: $color-light-DarkTheme;
        background-color: darken(rgba($color-primary-DarkTheme, 0.6), 10%);
    }

}