.content {
    position: absolute;
    overflow: hidden;

    &__left {
        float: left;
        width: $width-left-col;
        height: 100%;
        padding: 3rem 4rem;

        @media screen {
            &::after {
              //content: '2025 © by Jurij Bugarin   |   https://bugi.dev' ;
              height: 2rem;
              width: 100%;
              position: absolute;
              bottom: 0.5rem;
              //color: darken($color-light, 30%);
              color:#6b6b6b;
              font-size: 12px;
            }
        }
    }

    &__right {
        position: absolute;
        float: right;
        width: $width-right-col;
        background-color: $color-right-col-background;
        color: $color-right-col-body-text;
        height: 100%;
        padding: 2rem 3rem;
        right: 1rem;

        @include shadow(0.5);
    }

    &__swapped {
        &__left {
            float: right;
        }

        &__right {
            float: left;
            left: 1rem;
        }
    }
}

body.dark-mode, 
body.dark-mode main * {

  .content {

    &__left {

      @media screen {
        &::after {
          //color: darken($color-light-DarkTheme, 30%);
          color: #6b6b6b;;
        }
      }
    }

    &__right {
      background-color: $color-right-col-background-DarkTheme;
      color: $color-right-col-body-text-DarkTheme;
    }
  }
}